<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <form (ngSubmit)="login(f)" #f="ngForm">
      <div class="form-group">
        <label for="lemail">Email</label>
        <input type="text" id="lemail" class="form-control" name="lemail" ngModel>
      </div>
      <div class="form-group">
        <label for="lpassword">Password</label>
        <input type="password" id="lpassword" class="form-control" name="lpassword" ngModel>
      </div>
      <button type="submit" class="btn btn-default btn-block"(click)="onLogin(f)">Login</button>
      <button type="button" class="btn btn-primary btn-block" (click)="signUp(f)">Signup</button>
    </form>
  </div>
</div>

<button (click)="test()">Test</button>
<button (click)="logout()">Logout</button>
